



<% provide(:title, "New") %>

<div class="breadcrumb" style="background-color: darkblue;color:whitesmoke">
  <h5>New Service Request</h5>
</div>


<%= render 'form', service_request: @service_request %>

<div class="breadcrumb">
  <%= link_to 'Back', service_requests_path %>
</div>


