


<% provide(:title, "New") %>

<div class="breadcrumb" style="background-color: darkblue;color:whitesmoke">
  <h5>New Client Record</h5>
</div>


<%= render 'form', client_record: @client_record %>

<div class="breadcrumb">
  <%= link_to 'Back', client_records_path %>
</div>

