<% provide(:title, "New") %>

<div class="breadcrumb" style="background-color: darkblue;color:whitesmoke">
  <h5>New Server Record</h5>
</div>


<%= render 'form', server_record: @server_record %>

<div class="breadcrumb">
  <%= link_to 'Back', server_records_path %>
</div>


