<footer class="footer">
  <small>
    Techweb 2019.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",root_path %></li>
      <li><a href="http://dlibrary.herga.net">Document Library</a></li>
    </ul>
  </nav>
</footer>